* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
  /* outline: 1px solid red; */
}

.body {
  width: 100%;
  color: #333;
  line-height: 1.6;
  background: #f9f9f9;  
}

#contact-btn {
  background: #0078d7;
  padding: 8px 16px;
  border-radius: 4px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 8px 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 24px;
  color: #0078d7;
  font-weight: bold;
  transition: 500ms;
}
.logo:hover {
  color: #03467c;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-links a {
  color: #fff;
  transition: 500ms;
}

.nav-links a:hover {
  color: #8e8c8c;
}

.menu-toggle {
  font-size:32px;
  color: #f9f9f9;
  font-weight: bold;
  cursor: pointer;
  display: none;
  user-select: none;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-align: center; */
  padding: 16px 32px 0;
  background: #dbe9fc;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-info h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

.hero .btn {
  color: #fff;
  margin-top: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #0078d7;
  transition: 500ms;
  box-shadow: 0px 0px 10px #1c1c1c;
}

.v-more:hover,
.hero .btn:hover,
#contact-btn:hover,
.skills-list span:hover{
  background: #03467c;
}

.hero-img {
  margin: 32px 0;
  border-radius: 50%;
  border-right: 8px solid black;
}
.hero-img img{
  width: 384px;
  border-radius: 50%;
}

#about {
  width: 100%;
  padding: 64px 32px 0;
}

#skills {
  width: 100%;
  padding: 64px 32px 0;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}

.skills-list span {
  width: 128px;
  text-align: center;
  background: #0078d7;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 500ms;
}

#projects {
  width: 100%;
  padding: 64px 32px 0;
}
.project-card {
  background: #dbe9fc;
  padding: 24px;
  margin: 16px 0;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  border-left: 5px solid #0078d7;
  border-right: 5px solid #0078d7;
  box-shadow: 0 3px 5px #222;
}

.project-description {
  width: 60%;
  max-width: 720px;
}
.project-img {
  width: 256px;
  height: 176px;
  transition: 500ms;
}

.project-img:hover {
  scale: 110%;
}

.v-more {
  display: inline-block;
  margin-top: 16px;
  background: #0078d7;
  padding: 8px 16px;
  border-radius: 8px;
  color: #e5f0ff;
  transition: 500ms;
}
#contact {
  width: 100%;
  padding: 32px;
}
#footer {
  width: 100%;
  padding: 16px;
  background: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

#footer a {
  color: #8e8c8c;
  font-weight: bold;
}

/*--- Responsive styling---*/
@media (max-width: 1024px) {
  .hero-img img {
    width: 352px;
  }
  .project-img:hover {
    scale: unset;
  }
}
@media (max-width: 980px) {
  .hero-img img {
    width: 288px;
  }
  .hero-info h1 {
    font-size: 32px;
  }
}
@media (max-width: 980px) {
  .skills-list {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 49px;
    right: 0;
    width: 100%;
    padding: 32px;
  }

  .nav-links.active {
    display: flex;
  }
   
  .hero-img img {
    width: 224px;
  }

  .project-card {
    flex-wrap: wrap;
  }

  .project-description {
    order: 2;
    width: 100%;
  }
  
  .project-img {
    width: 100%;
    height: unset;
    order: 1;
  }
}

@media (max-width: 630px) {
  .hero-info h1 {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .navbar {
    padding: 4px 16px;
  }
  .nav-links {
    padding: 32px 16px;
  }
  .hero {
    flex-direction: column;
  }
  .hero-img {
    order: 1;
    border-right: 8px solid #0078d7;
  }
 
  .hero-img img {
    width: 384px;
  }

  .hero {
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(media/img1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  .hero-info h1,
  .hero-info p {
    color: #fff;
  }

 .hero-info {
    order: 2;
    margin-bottom: 48px;
 }

 #footer {
  gap: 8px;
  flex-direction: column;
 }

 #about,
 #skills,
 #projects {
  padding: 64px 16px 0;
 }
 
}

@media (max-width: 460px) {
  .hero-img img {
    width: 320px;
  }
}
@media (max-width: 330px) {
  * {
    font-size: 14px;
  }
  .hero-img img {
    width: 224px;
  }
    
  .hero-info h1 {
    font-size: 16px;
  }
  
  .skills-list span {
    width: 112px;
  }
} 
